body {
	background: #1690A7;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

*{
	font-family: sans-serif;
	box-sizing: border-box;
}

form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	border-radius: 15px;
}

h2 {
	text-align: center;
	margin-bottom: 40px;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}
label {
	color: #888;
	font-size: 18px;
	padding: 10px;
}

button {
	float: right;
	background: #555;
	padding: 10px 15px;
	color: #fff;
	border-radius: 5px;
	margin-right: 10px;
	border: none;
}
button:hover{
	opacity: .7;
}



.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 

.table {
  border-collapse: separate;
}

.table > thead > tr > th {
  border-top: none;
}

.table-bordered.table > thead > tr > th {
  border-bottom: 1px solid #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-bottom: 1px solid #e2e2e4;
  color: #5b5b60 !important;
  border-top: none;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #e7e7e9;
}

.table > tbody > tr.active > td, .table > tbody > tr.active > th {
  background-color: #e7e7e9 !important;
  color: #5b5b60 !important;
}

.table > tbody > tr.active:hover > td, .table > tbody > tr.active:hover > th {
  background-color: #dddcdf !important;
  color: #5b5b60 !important;
}

th.center, td.center {
  text-align: center;
}

td.center .dropdown-menu {
  text-align: left;
}

td.small-width {
  width: 15%;
}

.table thead tr {
  color: #707070;
  font-weight: normal;
}

.table.table-bordered {
  border-right: none;
  border-bottom: none;
}

.table.table-bordered thead tr th {
  vertical-align: middle;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > td, .table.table-bordered > tfoot > tr > td {
  border-top: none;
  border-left: none;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > tbody > tr > td, .table.table-bordered > tfoot > tr > td {
  border-top: none;
  border-left: none;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  vertical-align: middle;
}

.table-striped > tbody > tr:nth-child(2n+1) {
  background-color: #efeff0;
}

.editable-element {
  border-bottom: 1px dashed #0088CC;
  text-decoration: none;
  opacity: 0.5;
  display: inline;
}

.ng-table th {
  text-align: left !important;
}

.ng-table .plus, .ng-table .minus {
  font-weight: bold;
  padding-left: 18px;
  position: relative;
}

.ng-table .plus:before, .ng-table .minus:before {
  content: "";
  border-width: 4px;
  border-style: solid;
  left: 8px;
  top: 50%;
  position: absolute;
  margin-top: -2px;
}

.ng-table .plus {
  color: green;
}

.ng-table .plus:before {
  border-color: green;
  border-top: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.ng-table .minus {
  color: red;
}

.ng-table .minus:before {
  border-color: red;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.odd {
  background: #EFEFF0;
}

.even {
  background: #ffffff;
}

@media (max-width: 767px) {
  .ng-table-pager {
    text-align: center;
  }
  .ng-table-pager .ng-table-counts {
    float: none !important;
  }
  .ng-table-pager .pagination {
    display: block;
  }
  .ng-table-pager .pagination li {
    display: inline-block;
  }
}